extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/pagination.pug
include ../../mixins/filter-status.pug
include ../../mixins/form-change-multi.pug

block main
    .container-fluid.px-4.px-lg-5.my-3

        .row
            .col-12
                +box-head(pageTitle)

        .card.mb-3
            .card-header Bộ lọc và Tìm kiếm
            .card-body
                .row
                    .col-4
                        +filter-status(filterStatus)
                    .col-8
                        form(id="form-search")
                            .input-group
                                select(name="role_id" class="form-select" style="max-width: 200px;")
                                    option(value="") -- Tất cả nhóm quyền --
                                    if roles
                                        each item in roles
                                            option(value=item.id selected=(item.id == roleId)) #{item.title}
                                input(
                                    type="text"
                                    placeholder="Nhập từ khóa"
                                    name="keyword"
                                    class="form-control"
                                    value=keyword
                                )
                                .input-group-append
                                    button(
                                        class="btn btn-success"
                                        type="submit"
                                    ) Tìm

        .card.custom-list-card.mb-3
            .card-header
                | Danh sách tài khoản

            .card-body

                .row.mb-3
                    .col-8
                        +form-change-multi(`/${prefixAdmin}/users/change-multi?_method=PATCH`)
                    .col-4.text-right
                        a.btn.btn-outline-success.mr-2(
                            href=`/${prefixAdmin}/users/create`
                        )
                            i.fa-solid.fa-plus.me-1
                            | Thêm mới
                        a.btn.btn-outline-danger(
                            href=`/${prefixAdmin}/users/trash`
                        )
                            i.fa-solid.fa-trash-can.me-1
                            | Thùng rác

                if users && users.length > 0
                    table.table.custom-table.table-hover(checkbox-multi)
                        thead
                            tr
                                th
                                    input(type="checkbox" name="checkall")
                                th STT
                                th Hình ảnh
                                th Họ tên
                                th Email
                                th Nhóm quyền
                                th Trạng thái
                                th Hành động

                        tbody
                            each item, index in users
                                tr
                                    td
                                        input(
                                            type="checkbox"
                                            name="id"
                                            value=item.id
                                        )
                                    td #{index + 1}

                                    td
                                        img.custom-avatar(
                                            src=(item.avatar ? item.avatar : "/admin/images/avatar-default.jpg")
                                            alt=item.fullName
                                            style="width: 100px; height: auto; border-radius: 8px;"
                                        )

                                    td.custom-title
                                        = item.fullName

                                    td.custom-listen
                                        = item.email

                                    td.custom-listen
                                        = item.role_id ? item.role_id.title : ''

                                    td
                                        if (item.status === "active")
                                            a.badge.badge-success(
                                                href="javascript:;"
                                                button-change-status
                                                data-status="active"
                                                data-id=item.id
                                            ) Hoạt động
                                        else
                                            a.badge.badge-danger(
                                                href="javascript:;"
                                                button-change-status
                                                data-status="inactive"
                                                data-id=item.id
                                            ) Dừng hoạt động

                                    td
                                        .custom-actions-group
                                            a.btn.btn-secondary.btn-sm.mr-1(
                                                href=`/${prefixAdmin}/users/detail/${item.id}`
                                            ) 
                                                i.fa-solid.fa-circle-info
                                                span Chi tiết

                                            a.btn.btn-warning.btn-sm.mr-1(
                                                href=`/${prefixAdmin}/users/edit/${item.id}`
                                            ) 
                                                i.fa-solid.fa-pen-to-square
                                                span Sửa

                                            button.btn.btn-danger.btn-sm(
                                                button-delete
                                                data-id=item.id
                                            ) 
                                                i.fa-solid.fa-trash
                                                span Xóa

                else
                    .custom-empty.mt-3.alert.alert-secondary Không có tài khoản nào.

        +pagination(pagination)

        form(
            id="form-change-status"
            method="POST"
            action=""
            data-path=`/${prefixAdmin}/users/change-status`
        ) 

        form(
            id="form-delete-item"
            method="POST"
            action=""
            data-path=`/${prefixAdmin}/users/delete`
        )
