extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/pagination.pug

block main
    .container-fluid.px-4.px-lg-5.my-3

        .row
            .col-12
                +box-head(pageTitle)

        .card.custom-list-card.mb-3
            .card-header
                | Thùng rác nhóm quyền

            .card-body
                .custom-actions.mb-3
                    a.btn.btn-secondary(
                        href=`/${prefixAdmin}/roles`
                    )
                        i.fa-solid.fa-arrow-left.me-1
                        | Quay lại danh sách

                if roles && roles.length > 0
                    table.table.custom-table.table-hover
                        thead
                            tr
                                th STT
                                th Tiêu đề
                                th Mô tả
                                th Hành động

                        tbody
                            each item, index in roles
                                tr
                                    td #{index + 1}

                                    td.custom-title
                                        = item.title

                                    td.custom-listen
                                        = item.description

                                    td
                                        .custom-actions-group
                                            button.btn.btn-success.btn-sm.mr-1(
                                                button-restore
                                                data-id=item.id
                                            ) 
                                                i.fa-solid.fa-rotate-left
                                                span Khôi phục

                                            button.btn.btn-danger.btn-sm(
                                                button-delete-permanent
                                                data-id=item.id
                                            ) 
                                                i.fa-solid.fa-trash
                                                span Xóa vĩnh viễn

                else
                    .custom-empty.mt-3.alert.alert-secondary Thùng rác trống.

        +pagination(pagination)

        form(
            id="form-restore-item"
            method="POST"
            action=""
            data-path=`/${prefixAdmin}/roles/restore`
        ) 

        form(
            id="form-delete-permanent-item"
            method="POST"
            action=""
            data-path=`/${prefixAdmin}/roles/delete-permanent`
        )
