extends ../../layouts/default.auth.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
    +alert-error(5000)
    +alert-success(5000)

    .auth.auth-forgot-password
        .auth-container
            .auth-wrapper.wrapper
                form.auth-form(
                    action="/auth/forgot-password"
                    method="POST"
                )
                    
                    //- Tiêu đề
                    .auth-header
                        +box-head(pageTitle)

                    //- Email
                    .auth-group.input-box
                        .auth-input-group.inner-email
                            input.auth-input(
                                type="email"
                                name="email"
                                placeholder="Email"
                                required
                            )

                            i.bx.bx-envelope.auth-icon

                    //- Button send
                    .auth-action
                        button.auth-button.btn(
                            type="submit"
                        ) Gửi xác nhận

                    //- Back to login link
                    .auth-footer.register-link
                        p.auth-text
                            | Nhớ mật khẩu?
                            
                            a.auth-register-link(
                                href="/auth/login"
                            )  Đăng nhập