extends ../../layouts/default.auth.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
    +alert-error(5000)
    +alert-success(5000)

    .auth.auth-otp-password
        .auth-container
            .auth-wrapper.wrapper
                form.auth-form(
                    action="/auth/otp"
                    method="POST"
                )
                    
                    //- Tiêu đề
                    .auth-header
                        +box-head(pageTitle)

                    //- Email (hidden or read-only)
                    .auth-group.input-box
                        .auth-input-group.inner-email
                            input.auth-input(
                                type="email"
                                name="email"
                                value=email
                                readonly
                                required
                            )

                            i.bx.bx-envelope.auth-icon

                    //- OTP
                    .auth-group.input-box
                        .auth-input-group.inner-otp
                            input.auth-input(
                                type="text"
                                name="otp"
                                placeholder="Nhập mã OTP"
                                required
                            )

                            i.bx.bx-key.auth-icon

                    //- Button verify
                    .auth-action
                        button.auth-button.btn(
                            type="submit"
                        ) Xác thực

                    //- Back to login link
                    .auth-footer.register-link
                        p.auth-text
                            | Nhớ mật khẩu?
                            
                            a.auth-register-link(
                                href="/auth/login"
                            )  Đăng nhập