extends ../../layouts/default.auth.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
    +alert-error(5000)
    +alert-success(5000)

    .auth.auth-reset-password
        .auth-container
            .auth-wrapper.wrapper
                form.auth-form(
                    action="/auth/reset-password"
                    method="POST"
                )
                    
                    //- Tiêu đề
                    .auth-header
                        +box-head(pageTitle)

                    //- Password
                    .auth-group.input-box
                        .auth-input-group.inner-password
                            input.auth-input(
                                type="password"
                                name="password"
                                placeholder="Mật khẩu mới"
                                required
                            )

                            i.bx.bxs-lock-alt.auth-icon

                    //- Confirm Password
                    .auth-group.input-box
                        .auth-input-group.inner-password
                            input.auth-input(
                                type="password"
                                name="confirmPassword"
                                placeholder="Xác nhận mật khẩu"
                                required
                            )

                            i.bx.bxs-lock-alt.auth-icon

                    //- Button update
                    .auth-action
                        button.auth-button.btn(
                            type="submit"
                        ) Đổi mật khẩu

                    //- Back to login link
                    .auth-footer.register-link
                        p.auth-text
                            | Nhớ mật khẩu?
                            
                            a.auth-register-link(
                                href="/auth/login"
                            )  Đăng nhập