extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container-fluid.px-4.px-lg-5.my-3

        .row
            .col-12
                +box-head(pageTitle)

        .card.song-list-card.mb-3
            .card-header
                | Danh sách bài hát

            .card-body

                .song-actions
                    a.btn.btn-outline-success(
                        href=`/${prefixAdmin}/songs/create`
                    )
                        i.fa-solid.fa-plus.me-1
                        | Thêm mới

                    a.btn.btn-outline-danger(
                        href=`/${prefixAdmin}/songs/trash`
                    )
                        i.fa-solid.fa-trash-can.me-1
                        | Thùng rác

                if songs.length > 0

                    table.table.song-table.table-hover
                        thead
                            tr
                                th STT
                                th Hình ảnh
                                th Tiêu đề
                                th Lượt nghe
                                th Trạng thái
                                th Hành động

                        tbody
                            each item, index in songs
                                tr
                                    td #{index + 1}

                                    td
                                        img.song-avatar(
                                            src=item.avatar
                                            alt=item.title
                                        )

                                    td.song-title
                                        = item.title

                                    td.song-listen
                                        = item.listen

                                    td
                                        if item.status === "active"
                                            a.song-status-active(
                                                href="javascript:;"
                                                data-status="active"
                                                data-id=item.id
                                                button-change-status
                                            )
                                                | Hoạt động
                                        else
                                            a.song-status-inactive(
                                                href="javascript:;"
                                                data-status="inactive"
                                                data-id=item.id
                                                button-change-status
                                            )
                                                | Dừng hoạt động

                                    td
                                        .song-actions-group

                                            a.btn.btn-secondary.btn-sm(
                                                href=`/${prefixAdmin}/songs/detail/${item.id}`
                                            )
                                                i.fa-solid.fa-circle-info
                                                span Chi tiết

                                            a.btn.btn-warning.btn-sm(
                                                href=`/${prefixAdmin}/songs/edit/${item.id}`
                                            )
                                                i.fa-solid.fa-pen-to-square
                                                span Sửa

                                            button.btn.btn-danger.btn-sm(
                                                button-delete
                                                data-id=item.id
                                            )
                                                i.fa-solid.fa-trash
                                                span Xóa

                else

                    .song-empty.mt-3
                        | Không có bài hát nào.

        form(
            action=""
            method="POST"
            id="form-change-status"
            data-path=`/${prefixAdmin}/songs/change-status`
        )

        form(
            action=""
            method="POST"
            id="form-delete-item"
            data-path=`/${prefixAdmin}/songs/delete`
        )