extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .singer-detail.modern-player
        .container.my-4
            .row
                // Left Column: Player Info & Controls
                .col-lg-5.mb-4
                    .player-left-panel
                        .inner-play
                            .inner-avatar
                                img(src=song.avatar alt=song.title)

                        .song-info-panel
                            .inner-title #{song.title}
                            .inner-actions
                                div(class="inner-action inner-singer")
                                    i(class="fa-solid fa-microphone-lines")
                                    | #{singer.fullName}

                                div(class="inner-action inner-topic")
                                    i(class="fa-solid fa-music")
                                    | #{song.topicId.title} 

                                div(class=`inner-action inner-like ${isLiked ? "active" : ""}`
                                    button-like=song.id)
                                    i(class="fa-regular fa-thumbs-up")
                                    span #{song.likes.length} lượt thích

                                div(class=`inner-action inner-heart ${isFavorite ? "active" : ""}`
                                     button-favorite=song.id)
                                    i(class="fa-regular fa-heart")
                                    span Yêu thích
                                
                                div(class="inner-action inner-time")
                                    i(class="fa-regular fa-clock")
                                    span #{song.timestamps || ""}

                                div(class="inner-action inner-listen")
                                    i(class="fa-solid fa-headphones")
                                    span #{song.listen} lượt nghe

                        // Audio Player
                        .player-wrapper
                            div(id="aplayer" data-song=song ? JSON.stringify(song) : '' data-singer=singer ? JSON.stringify(singer) : '')

                        if song.description
                            .inner-desc.mt-4
                                .inner-label Mô tả
                                .inner-text !{song.description}

                // Right Column: Lyrics
                .col-lg-7
                    .lyrics-panel
                        .lyrics-header 
                            i(class="fa-solid fa-align-left mr-2")
                            span Lời bài hát
                        .lyrics-content(id="lyrics-container" data-lyrics=song.lyrics || "")
                            // Lyrics will be rendered here by JS

            // Bottom Row: Comments
            .row.mt-4
                .col-12
                    .comments-panel
                        .comments-header
                            .comments-title 
                                i(class="fa-solid fa-comments mr-2")
                                span Bình luận (#{comments.length})
                            
                            .comments-filter
                                select(
                                    name="sort"
                                    id="comments-sort"
                                    class="form-select form-select-sm"
                                    data-song-id=song.id
                                )
                                    option(value="newest" selected=(sortQuery === "newest" ? true : false)) Mới nhất
                                    option(value="oldest" selected=(sortQuery === "oldest" ? true : false)) Cũ nhất
                                    option(value="popular" selected=(sortQuery === "popular" ? true : false)) Phổ biến nhất

                        .comments-body
                            if user
                                .comment-form
                                    .comment-avatar
                                        img(src=(user.avatar || "/images/avatar.png") alt=user.fullName)
                                    form(id="form-comment" action=`/comments/post/${song.id}`)
                                        textarea(name="content" placeholder="Nhập bình luận của bạn..." required rows="2")
                                        button(type="submit" class="btn btn-primary") Gửi bình luận
                            else
                                .comment-login-prompt
                                    p Vui lòng đăng nhập để bình luận
                                    a.btn.btn-primary(href="/auth/login") Đăng nhập

                            .comments-list
                                if comments.length > 0
                                    each comment in comments
                                        .comment-item
                                            .comment-avatar
                                                img(src=(comment.userId.avatar || "/images/avatar.png") alt=comment.userId.fullName)
                                            .comment-content
                                                .comment-author-name #{comment.userId.fullName}
                                                .comment-text #{comment.content}
                                                .comment-meta
                                                    span.comment-time 
                                                        - const date = new Date(comment.createdAt)
                                                        | #{date.toLocaleString('vi-VN')}
                                                        if comment.edited && comment.editedAt
                                                            |  • đã chỉnh sửa
                                                    
                                                    if user && String(comment.userId._id) === String(user.id)
                                                        .comment-owner-actions
                                                            button.comment-action.btn-edit(type="button" button-edit-comment=comment._id) Chỉnh sửa
                                                            button.comment-action.btn-delete(type="button" button-delete-comment=comment._id) Xóa
                                                    else
                                                        button.comment-action.btn-like(class=(comment.isLikedByUser ? "active" : "") button-like-comment=comment._id)
                                                            i.fa-solid.fa-thumbs-up
                                                            span.count #{comment.likeCount}
                                                        
                                                        button.comment-action.btn-dislike(class=(comment.isDislikedByUser ? "active" : "") button-dislike-comment=comment._id)
                                                            i.fa-solid.fa-thumbs-down
                                                            span.count #{comment.dislikeCount}
                                else
                                    .no-comments
                                        p Chưa có bình luận nào. Hãy là người đầu tiên bình luận!