extends ../../layouts/default.pug
include ../../../client/mixins/box-head.pug

block main
    .container-fluid.px-4.px-lg-5.my-4

        .row
            .col-12
                +box-head(pageTitle)

        .row.g-4

            .col-xl-3.col-md-6
                .card.dashboard-card
                    .card-header
                        i.fa-solid.fa-music.me-2
                        | Bài hát

                    .card-body
                        .dashboard-number #{statistic.Song.total}

                        .dashboard-stats
                            p.active-count
                                i.fa-solid.fa-circle-check.me-2
                                | Đang hoạt động: #{statistic.Song.active}

                            p.inactive-count
                                i.fa-solid.fa-circle-xmark.me-2
                                | Dừng hoạt động: #{statistic.Song.inactive}

            .col-xl-3.col-md-6
                .card.dashboard-card
                    .card-header
                        i.fa-solid.fa-layer-group.me-2
                        | Chủ đề

                    .card-body
                        .dashboard-number #{statistic.Topic.total}

                        .dashboard-stats
                            p.active-count
                                i.fa-solid.fa-circle-check.me-2
                                | Đang hoạt động: #{statistic.Topic.active}

                            p.inactive-count
                                i.fa-solid.fa-circle-xmark.me-2
                                | Dừng hoạt động: #{statistic.Topic.inactive}

            .col-xl-3.col-md-6
                .card.dashboard-card
                    .card-header
                        i.fa-solid.fa-microphone.me-2
                        | Ca sĩ

                    .card-body
                        .dashboard-number #{statistic.Singer.total}

                        .dashboard-stats
                            p.active-count
                                i.fa-solid.fa-circle-check.me-2
                                | Đang hoạt động: #{statistic.Singer.active}

                            p.inactive-count
                                i.fa-solid.fa-circle-xmark.me-2
                                | Dừng hoạt động: #{statistic.Singer.inactive}

            .col-xl-3.col-md-6
                .card.dashboard-card
                    .card-header
                        i.fa-solid.fa-users.me-2
                        | Người dùng

                    .card-body
                        .dashboard-number #{statistic.User.total}

                        .dashboard-stats
                            p.active-count
                                i.fa-solid.fa-circle-check.me-2
                                | Đang hoạt động: #{statistic.User.active}

                            p.inactive-count
                                i.fa-solid.fa-circle-xmark.me-2
                                | Dừng hoạt động: #{statistic.User.inactive}

            .col-xl-3.col-md-6
                .card.dashboard-card
                    .card-header
                        i.fa-solid.fa-bullhorn.me-2
                        | Quảng cáo

                    .card-body
                        .dashboard-number #{statistic.Ad.total}

                        .dashboard-stats
                            p.active-count
                                i.fa-solid.fa-circle-check.me-2
                                | Đang chạy: #{statistic.Ad.active}
                            
                            p.text-warning.mb-2
                                i.fa-solid.fa-file-lines.me-2
                                | Bản nháp: #{statistic.Ad.draft}

                            p.inactive-count
                                i.fa-solid.fa-clock-rotate-left.me-2
                                | Hết hạn: #{statistic.Ad.expired}

                            p.mb-2
                                i.fa-solid.fa-hand-pointer.me-2
                                | Lượt click: #{statistic.Ad.clicks}

                            p.mb-2
                                i.fa-solid.fa-eye.me-2
                                | Lượt hiển thị: #{statistic.Ad.views}
                            
                            p.mb-0.text-info
                                i.fa-solid.fa-percent.me-2
                                | CTR: #{statistic.Ad.ctr}%