header.header
  .container-fluid.px-4
    .row.align-items-center
      .col-6.col-md-3
        .inner-logo.d-flex.align-items-center.gap-2
          button.btn.btn-outline-light.d-lg-none.mr-2#adminSidebarToggle(type="button" style="padding: 4px 8px; border: none;")
            i.fa-solid.fa-bars
          a.d-flex.align-items-center.gap-2(href=`/`)
            img(
              src="/images/logo.png",
              alt="Music Streaming Logo",
              width="45"
            )
            span.logo-text.d-none.d-sm-inline Trang chủ

      .col-6.col-md-9
        .header-actions.d-flex.align-items-center.justify-content-end.gap-3 
          if user
            .dropdown
              a.dropdown-toggle.header-user(
                href=`/${prefixAdmin}/profile`
                data-bs-toggle="dropdown"
              )
                i.fa-solid.fa-user.user-icon
                span.user-name.d-none.d-sm-inline #{user.fullName}

              ul.dropdown-menu.dropdown-menu-end
                li
                  a.dropdown-item(href=`/${prefixAdmin}/profile`)
                    i.fa-solid.fa-user
                    span Thông tin cá nhân

                li
                  hr.dropdown-divider

                li
                  a.dropdown-item(href="/auth/logout")
                    i.fa-solid.fa-right-from-bracket
                    span Đăng xuất
          else
            a(href=`/${prefixAdmin}/auth/login`, class="inner-actions__item mr-3", title="Đăng nhập", style="color: white; font-size: 1.2rem;")
              i.fa-solid.fa-user
            a(href=`/${prefixAdmin}/auth/register`, class="inner-actions__item", title="Đăng ký", style="color: white; font-size: 1.2rem;")
              i.fa-solid.fa-user-plus
