.sider
  .inner-menu
    ul 
      li
        a(href=`/${prefixAdmin}/dashboard`)
          i.fa-solid.fa-chart-line
          span Tổng quan
      li
        a(href=`/${prefixAdmin}/songs`)
          i.fa-solid.fa-music
          span Bài hát
      li
        a(href=`/${prefixAdmin}/topics`)
          i.fa-solid.fa-icons
          span Chủ đề
      li
        a(href=`/${prefixAdmin}/singers`)
          i.fa-solid.fa-microphone-lines
          span Ca sĩ
      li
        a(href=`/${prefixAdmin}/users`)
          i.fa-solid.fa-users
          span Tài khoản
      li
        a(href=`/${prefixAdmin}/roles`)
          i.fa-solid.fa-user-shield
          span Nhóm quyền
      li
        a(href=`/${prefixAdmin}/roles/permissions`)
          i.fa-solid.fa-key
          span Phân quyền
